{% extends '-base.html' %}
{% load static %}
{% load i18n %}


{% block title %}
    {% trans 'Frequently Asked Question' %}
{% endblock %}

{% block content %}
    <!-- breadcrumb-area -->
    <section class="breadcrumb__area include-bg pt-150 pb-150 breadcrumb__overlay"
             data-background="{% static 'assets/img/breadcrumb/breadcrumb-bg-1.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="breadcrumb__content p-relative z-index-1">
                        <h3 class="breadcrumb__title mb-20">{% trans 'Frequently Asked Question' %}</h3>
                        <div class="breadcrumb__list">
                            <span><a href="{% url 'home:home' %}">{% trans 'HomePage' %}</a></span>
                            <span class="dvdr"><i class="fa-regular fa-angle-left"></i></span>
                            <span class="sub-page-black">{% trans 'Pages' %}</span>
                            <span class="dvdr"><i class="fa-regular fa-angle-left"></i></span>
                            <span class="sub-page-black">{% trans 'FAQ' %}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb-area-end -->

    <!-- feature-area -->
    <section class="feature-area pt-115 pb-90">
        <div class="container">
            <div class="tp-feature-cn">
                <div class="row justify-content-center">
                    <div class="col-xl-3 col-lg-6 col-md-6">
                        <div class="tpfea tp-feature-item text-center mb-30">
                            <div class="tpfea__icon mb-25">
                                <i class="fi fi-rr-user"></i>
                            </div>
                            <div class="tpfea__text">
                                <h5 class="tpfea__title mb-20">مربی متخصص</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6">
                        <div class="tpfea tp-feature-item text-center mb-30">
                            <div class="tpfea__icon mb-25">
                                <i class="fi fi-rr-document"></i>
                            </div>
                            <div class="tpfea__text">
                                <h5 class="tpfea__title mb-20">دریافت گواهی</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6">
                        <div class="tpfea tp-feature-item text-center mb-30">
                            <div class="tpfea__icon mb-25">
                                <i class="fi fi-rr-calendar"></i>
                            </div>
                            <div class="tpfea__text">
                                <h5 class="tpfea__title mb-20">دسترسی مادام العمر</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6">
                        <div class="tpfea tp-feature-item text-center mb-30">
                            <div class="tpfea__icon mb-25">
                                <i class="fi fi-rr-football"></i>
                            </div>
                            <div class="tpfea__text">
                                <h5 class="tpfea__title mb-20">معرفی به تیم</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- feature-area-end -->

    <!-- faq-area -->
    <section class="faq-area pb-120">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-12">
                    <div class="section-title mb-60">
                        <span class="tp-sub-title-box mb-15">{% trans 'FAQ' %}</span>
                        <h2 class="tp-section-title">{% trans 'Many People Ask About This' %}</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="accordion pb-20" id="accordionExample">
                        {% for qa in questions_answers %}
                            <div class="accordion-items">
                                <h2 class="accordion-header" id="heading-{{ forloop.counter }}">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapse-{{ forloop.counter }}" aria-expanded="false"
                                            aria-controls="collapse-{{ forloop.counter }}">
                                        {{ qa.question }}
                                    </button>
                                </h2>
                                <div id="collapse-{{ forloop.counter }}" class="accordion-collapse collapse"
                                     aria-labelledby="heading-{{ forloop.counter }}"
                                     data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        {{ qa.answer|safe }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- faq-area-end -->


    <!-- counter-area -->
    <section class="tp-counter-area bg-bottom grey-bg pt-120 pb-60"
             data-background="{% static 'assets/img/bg/shape-bg-1.png' %}">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-md-6">
                    <div class="counter-item mb-60 text-center">
                        <div class="counter-item__icon mb-25">
                            <i class="fi fi-rr-user"></i>
                        </div>
                        <div class="counter-item__content">
                            <h4 class="counter-item__title"><span class="counter" data-value="{{ counter.students }}"></span>+</h4>
                            <p>{% trans 'Worldwide Students' %}</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="counter-item mb-60 text-center">
                        <div class="counter-item__icon mb-25">
                            <i class="fi fi-rr-document"></i>
                        </div>
                        <div class="counter-item__content">
                            <h4 class="counter-item__title"><span class="counter" data-value="{{ counter.experience_years }}"></span>+</h4>
                            <p>{% trans 'Years Experience' %}</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="counter-item mb-60 text-center">
                        <div class="counter-item__icon mb-25">
                            <i class="fi fi-rr-apps"></i>
                        </div>
                        <div class="counter-item__content">
                            <h4 class="counter-item__title"><span class="counter" data-value="{{ counter.professional_courses }}"></span>+</h4>
                            <p>{% trans 'Professional Courses' %}</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="counter-item mb-60 text-center">
                        <div class="counter-item__icon mb-25">
                            <i class="fi fi-rr-star"></i>
                        </div>
                        <div class="counter-item__content">
                            <h4 class="counter-item__title"><span class="counter" data-value="{{ counter.comments }}"></span>+</h4>
                            <p>{% trans 'Beautiful Review' %}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- counter-are
{% endblock %}
