{% extends '-base.html' %}
{% load persian_tags %}
{% load static %}
{% load i18n %}

{% block title %}
    {% trans 'Contact Page' %}
{% endblock %}

{% block head %}
	<link rel="stylesheet" href="{% static 'assets/css/same_line_links.css' %}">
{% endblock %}

{% block content %}
    <!-- breadcrumb-area -->
    <section class="breadcrumb__area include-bg pt-150 pb-150 breadcrumb__overlay"
             data-background="{% static 'assets/img/breadcrumb/contact.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="breadcrumb__content p-relative z-index-1">
                        <h3 class="breadcrumb__title mb-20">{% trans 'Contact Us' %}</h3>
                        <div class="breadcrumb__list">
                            <span><a href="{% url 'home:home' %}">{% trans 'HomePage' %}</a></span>
                            <span class="dvdr"><i class="fa-regular fa-angle-left"></i></span>
                            <span class="sub-page-black">{% trans 'Contact' %}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb-area-end -->

    <!-- location-area -->
    <section class="location-area pt-120 pb-85">
        <div class="container">
            <div class="row justify-content-center">
                {% if primary_contact.phonenumber %}
                    <div class="col-xl-4 col-md-6">
                        <div class="location-item text-center mb-30">
                            <div class="location-icon mb-25">
                                <i class="fa-light fa-phone"></i>
                            </div>
                            <div class="location-content">
                                <h5 class="location-title"><a
                                        href="tell:{{ primary_contact.phonenumber }}">{{ primary_contact.phonenumber|to_persian_number }}</a>
                                </h5>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if primary_contact.address %}
                    <div class="col-xl-4 col-md-6">
                        <div class="location-item text-center mb-30">
                            <div class="location-icon mb-25">
                                <i class="fa-light fa-location-dot"></i>
                            </div>
                            <div class="location-content">
                                <h5 class="location-title">{{ primary_contact.address|safe }}</h5>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if primary_contact.email %}
                    <div class="col-xl-4 col-md-6">
                        <div class="location-item text-center mb-30">
                            <div class="location-icon mb-25">
                                <i class="fi fi-rr-envelope"></i>
                            </div>
                            <div class="location-content">
                                <h5 class="location-title"><a
                                        href="mailto:{{ primary_contact.email }}">{{ primary_contact.email }}</a>
                                </h5>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
    <!-- location-area-end -->
    <!-- contact-area -->
    <section class="contact-area pb-60">
        <div class="container">
            <div class="row">
                {% if request.user.is_authenticated %}
                    <div class="col-lg-6 col-md-12 col-12">
                        <div class="contact-wrapper mr-65 mb-60">
                            <div class="sub-contact-title">
                                <h5 class="contact-title mb-30">{% trans 'Send Us Message' %}</h5>
                            </div>
                            <div class="contact-form">
                                <form method="post">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="contact-form-input mb-40">
                                                <span>{% trans 'Comments' %}</span>
                                                {{ message_form }}
                                            </div>
                                            <button type="submit" class="tp-btn">{% trans 'Submit Now' %}</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="col-lg-6 col-md-12 col-12">
                        <div class="contact-wrapper mr-65 mb-60">
                            <div class="sub-contact-title">
                                <h5 class="contact-title mb-30">{% trans 'Send Us Message' %}</h5>
                            </div>
                        </div>
                        <div class="contact-form-input_same_line mb-40">
                            <span>{% trans 'If you wanna send us message please ' %}</span>
                            <a href="{% url 'accounts:authenticate' %}">{% trans 'LOGIN' %}.</a>
                        </div>
                    </div>
                {% endif %}
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="contact-bg mb-60">
                        <img src="{% static 'assets/img/bg/contactus-02.jpg' %}" alt="{% trans 'fastball baner' %}">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- contact-area-end -->
    <!-- counter-area -->
    <section class="tp-counter-area bg-bottom grey-bg pt-120 pb-60"
             data-background="{% static 'assets/img/bg/shape-bg-1.png' %}">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-md-6">
                    <div class="counter-item mb-60 text-center">
                        <div class="counter-item__icon mb-25">
                            <i class="fi fi-rr-user"></i>
                        </div>
                        <div class="counter-item__content">
                            <h4 class="counter-item__title"><span class="counter" data-value="{{ counter.students }}"></span>+</h4>
                            <p>{% trans 'Worldwide Students' %}</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="counter-item mb-60 text-center">
                        <div class="counter-item__icon mb-25">
                            <i class="fi fi-rr-document"></i>
                        </div>
                        <div class="counter-item__content">
                            <h4 class="counter-item__title"><span class="counter" data-value="{{ counter.experience_years }}"></span>+</h4>
                            <p>{% trans 'Years Experience' %}</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="counter-item mb-60 text-center">
                        <div class="counter-item__icon mb-25">
                            <i class="fi fi-rr-apps"></i>
                        </div>
                        <div class="counter-item__content">
                            <h4 class="counter-item__title"><span class="counter" data-value="{{ counter.professional_courses }}"></span>+</h4>
                            <p>{% trans 'Professional Courses' %}</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="counter-item mb-60 text-center">
                        <div class="counter-item__icon mb-25">
                            <i class="fi fi-rr-star"></i>
                        </div>
                        <div class="counter-item__content">
                            <h4 class="counter-item__title"><span class="counter" data-value="{{ counter.comments }}"></span>+</h4>
                            <p>{% trans 'Beautiful Review' %}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- counter-area-end -->
{% endblock %}

