{% extends '-base.html' %}
{% load persian_tags %}
{% load i18n %}
{% load static %}

{% block title %}
    {% trans 'Coach List' %}
{% endblock %}

{% block content %}
    <!-- breadcrumb-area -->
    <section class="breadcrumb__area include-bg pt-150 pb-150 breadcrumb__overlay"
             data-background="{% static 'assets/img/breadcrumb/coach.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="breadcrumb__content p-relative z-index-1">
                        <h3 class="breadcrumb__title mb-20">{% trans 'Coaches' %}</h3>
                        <div class="breadcrumb__list">
                            <span><a href="{% url 'home:home' %}">{% trans 'HomePage' %}</a></span>
                            <span class="dvdr"><i class="fa-regular fa-angle-left"></i></span>
                            <span class="sub-page-black">{% trans 'Coaches' %}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb-area-end -->

    <!-- feature-area -->
    <section class="feature-area pt-115 pb-90">
        <div class="container">
            <div class="tp-feature-cn">
                <div class="row justify-content-center">
                    <div class="col-xl-3 col-lg-6 col-md-6">
                        <div class="tpfea tp-feature-item text-center mb-30">
                            <div class="tpfea__icon mb-25">
                                <i class="fi fi-rr-user"></i>
                            </div>
                            <div class="tpfea__text">
                                <h5 class="tpfea__title mb-5">{% trans 'Expert Trainer' %}</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6">
                        <div class="tpfea tp-feature-item text-center mb-30">
                            <div class="tpfea__icon mb-25">
                                <i class="fi fi-rr-document"></i>
                            </div>
                            <div class="tpfea__text">
                                <h5 class="tpfea__title mb-5">{% trans 'Get Certificate' %}</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6">
                        <div class="tpfea tp-feature-item text-center mb-30">
                            <div class="tpfea__icon mb-25">
                                <i class="fi fi-rr-calendar"></i>
                            </div>
                            <div class="tpfea__text">
                                <h5 class="tpfea__title mb-5">{% trans 'Life Time Access' %}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- feature-area-end -->

    <!-- instructor-area -->
    <section class="instructor-area pb-110">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title mb-65 text-center">
                        <span class="tp-sub-title-box mb-15">{% trans 'Coach' %}</span>
                        <h2 class="tp-section-title">{% trans 'Our Expert Coach' %}</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                {% for instructor in instructors %}
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="tp-instruc-item">
                            <div class="tp-instructor text-center p-relative mb-40">
                                <div class="tp-instructor__thumb mb-25">
                                    <img src="{{ instructor.user.get_photo_url }}" alt="instructor-profile">
                                </div>
                                <div class="tp-instructor__content">
                                    <h4 class="tp-instructor__title tp-instructor__title-info p-relative mb-35 mt-5"><a
                                            href="{{ instructor.get_absolute_url }}">{{ instructor.full_name }}</a></h4>
                                    <div class="tp-instructor__stu-info">
                                        <ul class="d-flex align-items-center justify-content-center">
                                            <li class="d-flex align-items-center"><img
                                                    src="{% static 'assets/img/icon/c-meta-01.png' %}"
                                                    alt="meta-icon">
                                                <i>{{ instructor.video_count|to_persian_number }} {% trans 'Classes' context 'singular' %}</i>
                                            </li>
                                            <li class="d-flex align-items-center"><img
                                                    src="{% static 'assets/img/icon/c-meta-02.png' %}"
                                                    alt="meta-icon">
                                                <i>{{ instructor.student_count|to_persian_number }}+ {% trans 'Students' context 'singular' %}</i>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="tp-instructor__social">
                                        <ul>
                                            {% if primary_contact.youtube_id %}
                                                <li>
                                                    <a href="https://www.youtube.com/@{{ primary_contact.youtube_id }}"
                                                       target="_blank"><i
                                                            class="fa-brands fa-youtube"></i></a></li>
                                            {% endif %}
                                            {% if primary_contact.instagram_id %}
                                                <li>
                                                    <a href="https://www.instagram.com/{{ primary_contact.instagram_id }}"
                                                       target="_blank"><i
                                                            class="fa-brands fa-instagram"></i></a></li>
                                            {% endif %}
                                            {% if primary_contact.telegram_id %}
                                                <li><a href="https://t.me/{{ primary_contact.telegram_id }}"
                                                       target="_blank"><i
                                                        class="fa-brands fa-telegram-plane"></i></a></li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </section>
    <!-- instructor-area-end -->
    <!-- counter-area -->
    <section class="tp-counter-area bg-bottom grey-bg pt-120 pb-60"
             data-background="{% static 'assets/img/bg/shape-bg-1.png' %}">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-md-6">
                    <div class="counter-item mb-60 text-center">
                        <div class="counter-item__icon mb-25">
                            <i class="fi fi-rr-user"></i>
                        </div>
                        <div class="counter-item__content">
                            <h4 class="counter-item__title"><span class="counter" data-value="{{ counter.students }}"></span>+</h4>
                            <p>{% trans 'Worldwide Students' %}</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="counter-item mb-60 text-center">
                        <div class="counter-item__icon mb-25">
                            <i class="fi fi-rr-document"></i>
                        </div>
                        <div class="counter-item__content">
                            <h4 class="counter-item__title"><span class="counter" data-value="{{ counter.experience_years }}"></span>+</h4>
                            <p>{% trans 'Years Experience' %}</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="counter-item mb-60 text-center">
                        <div class="counter-item__icon mb-25">
                            <i class="fi fi-rr-apps"></i>
                        </div>
                        <div class="counter-item__content">
                            <h4 class="counter-item__title"><span class="counter" data-value="{{ counter.professional_courses }}"></span>+</h4>
                            <p>{% trans 'Professional Courses' %}</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="counter-item mb-60 text-center">
                        <div class="counter-item__icon mb-25">
                            <i class="fi fi-rr-star"></i>
                        </div>
                        <div class="counter-item__content">
                            <h4 class="counter-item__title"><span class="counter" data-value="{{ counter.comments }}"></span>+</h4>
                            <p>{% trans 'Beautiful Review' %}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- counter-area-end -->
{% endblock %}