body {
    background-color: #f0f0f0;
    font-family: var(--tp-ff-body);
    font-size: var(--tp-fz-body);
    font-weight: normal;
    color: var(--tp-text-body);
    line-height: 26px;
    direction: rtl;
}


.container_BMI {
    background-color: #f0f0f0;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 20px 20px 60px #d9d9d9,
    -20px -20px 60px #ffffff;
    text-align: center;
    width: 90%;
    margin: 20px;
}


.container_BMI h1 {
    margin-bottom: 30px;
    color: #175D53;
}


.container_BMI .input-field {
    margin: 20px 0;
}

.container_BMI input, select {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 30px;
    background: #f0f0f0;
    box-shadow: inset 6px 6px 12px #d9d9d9,
    inset -6px -6px 12px #ffffff;
    font-size: 16px;
    outline: none;
    color: #333;
    text-align: right;
}


.container_BMI input::placeholder {
    color: #aaa;
}


.container_BMI button {
    width: 100%;
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    background: #175D53;
    box-shadow: 6px 6px 12px #d9d9d9,
    -6px -6px 12px #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    color: #ffffff;
    margin-top: 10px;
}

.container_BMI button:hover {
    background-color: #175D53;
    box-shadow: inset 6px 6px 12px #234b3b,
    inset -6px -6px 12px #006e3b;
}


#result {
    margin-top: 30px;
    font-size: 18px;
    color: #ff5a50;
    opacity: 0;
    transition: opacity 0.5s;
}

@media (max-width: 600px) {
    .container_BMI .container {
        padding: 20px;
    }

    .container_BMI h1 {
        font-size: 24px;
    }

    .container_BMI input, button, select {
        font-size: 14px;
        padding: 12px;
    }
}

/* disable nice select */
#gender + .nice-select {
  display: none !important;
}
#gender {
  display: block !important;
}