
[lang="fa"] {
    direction: rtl;
    text-align: right;
}

[lang="fa"] .header__area {
    direction: rtl;
}

[lang="fa"] .main-menu {
    padding-right: 0;
}


[lang="fa"] .main-menu ul > li > a {
    font-size: 18px;
    font-weight: 500;
}


[lang="fa"] .header_white_area .main-menu ul {
    padding-right: 0;
}

[lang="fa"] .header_white_area .main-menu ul > li {
    margin-right: 0;
    margin-left: 28px;
}

[lang="fa"] .header_white_area .text-start {
    text-align: right !important;
}

[lang="fa"] .header_white_area .header-search-box {
    direction: rtl;
}

[lang="fa"] .header_white_area .search-input {
    gap: 10px;
    position: relative;
    display: block;
    align-items: center;
    background: #F4F7F6;
    border-radius: 5px;
    height: 60px;
    padding: 5px 5px 5px 15px;
}

[lang="fa"] .header_white_area .header-search-box input {
    height: 100%;
    background: transparent;
    border: none;
    font-size: 16px;
    width: 100%;
    padding: 0 25px 0 200px;
    text-align: right;
}

[lang="fa"] .header_white_area .header-search-btn {
    position: absolute;
    left: 5px;
    right: auto;
    top: 5px;
    height: calc(100% - 10px);
    padding: 0 20px;
    margin: 0;
    order: unset;
    background: #245D51;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    display: flex;
    align-items: center;
}

[lang="fa"] .header_white_area .header-search-btn i {
    margin-left: 5px;
}

[lang="fa"] .header-meta-green ul {
    padding-right: 0;
}

[lang="fa"] .header-meta-green ul li {
    margin-left: 20px;
    margin-right: 0;
}

[lang="fa"] .header-meta-green ul li:last-child {
    margin-left: 0;
}

[lang="fa"] .header-meta {
    margin-right: 25px;
    margin-left: 0;
}

[lang="fa"] .header-meta ul li {
    margin-left: 20px;
}

[lang="fa"] .header-meta ul li:last-child {
    margin-left: 0;
}

[lang="fa"] .header-meta ul li a i {
    font-size: 20px;
}

[lang="fa"] .logo {
    margin-right: 0;
    margin-left: 40px;
}

[lang="fa"] .row {
    direction: rtl;
}

[lang="fa"] [class*="col-"] {
    float: right;
}

[lang="fa"] input[type="number"],
[lang="fa"] input[type="email"],
[lang="fa"] code {
    direction: ltr;
}

[lang="fa"] .dropdown-menu {
    text-align: right;
}

[lang="fa"] .input-group {
    flex-direction: row-reverse;
}

[lang="fa"] .badge,
[lang="fa"] .fa,
[lang="fa"] .fas,
[lang="fa"] .far,
[lang="fa"] .fal {
    margin-right: 0;
    margin-left: 0.5em;
}

[lang="fa"] .tp-testi__avainfo {
  margin-right: 20px;
  margin-left: 0 !important;
}

[lang="fa"] .testi-quote {
  left: 30px;
  right: auto !important;
}

[lang="fa"] .slick-list {
  direction: rtl;
}

[lang="fa"] .slick-slide {
  float: right !important;
}
[lang="fa"] .tp-testi__rating span {
  margin-right: 10px;
  margin-left: 0;
}
[lang="fa"] .tp-testi__ava img {
  order: 1;
  width: 100px;
  height: 100px;
}

[lang="fa"] .tp-testi__ava {
  flex-direction: row-reverse;
  display: inline-flex !important;
}

[lang="fa"] .ml-20 {
  margin-right: 20px !important;
  margin-left: 0 !important;
}

[lang="fa"] .pl-20 {
  padding-right: 20px !important;
  padding-left: 0 !important;
}
[lang="fa"] .tp-testi {
  direction: rtl;
  text-align: right;
}

[lang="fa"] .tp-testi p {
  text-align: right;
  line-height: 1.8;
}
[lang="fa"] .testimonial-active-box {
  .slick-prev {
    right: -50px;
    left: auto;
  }

  .slick-next {
    left: -50px;
    right: auto;
  }
}

[lang="fa"] .cd-information ul li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

[lang="fa"] .cd-information ul li i {
    margin-right: 10px;
    flex-shrink: 0;
}

[lang="fa"] .cd-information ul li label {
    margin-right: 5px;
    text-align: left;
}

[lang="fa"] .cd-information ul li .value-left {
    margin-left: auto;
    text-align: left;
    flex-grow: 1;
}

.tpcourse__meta li img {
    margin-left: 8px;
}

.rating-gold p {
    margin-left: 5px;
}
.rating-gold span {
    margin-right: 5px;
}

.c-details-thumb {
    position: relative;
    display: inline-block;
}

.course-image {
    display: block;
    width: 100%;
    height: auto;
}

.c-details-ava {
    position: absolute;
    right: 10px;
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 5px;
}

.c-details-ava img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 7px;
}

.c-details-ava span {
    color: var(--tp-common-white);
    font-weight: 500;
    font-family: "Gordita-500";
}

.c-details-ava span a:hover {
    color: var(--tp-heading-secondary);
}

.tpcourse__img-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 70px;
    height: 70px;
    border: 2px solid var(--tp-common-white);
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tpcourse__img-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

