.contact-form-input_same_line {
    display: flex;
    align-items: center;
    font-family: var(--tp-ff-body);;
}

.contact-form-input_same_line span,
.contact-form-input_same_line a {
    margin-right: 5px;
    text-decoration: none;
    color: inherit;
}
.contact-form-input_same_line a {
    color: var(--tp-heading-secondary);
}
.contact-form-input_same_line a.contact-link:hover {
    text-decoration: underline;
}
