{% extends '-base.html' %}
{% load i18n %}
{% load static %}

{% block title %}
    {% trans 'Cart' %}
{% endblock %}

{% block content %}
    <!-- breadcrumb-area -->
    <section class="breadcrumb__area include-bg pt-150 pb-150 breadcrumb__overlay"
             data-background="{% static 'assets/img/breadcrumb/breadcrumb-bg-1.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="breadcrumb__content p-relative z-index-1">
                        <h3 class="breadcrumb__title mb-20">{% trans 'Cart' %}</h3>
                        <div class="breadcrumb__list">
                            <span><a href="{% url 'home:home' %}">{% trans 'Home' %}</a></span>
                            <span class="dvdr"><i class="fa-regular fa-angle-right"></i></span>
                            <span class="sub-page-black">{% trans 'Cart' %}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb-area-end -->

    <!-- cart area -->
    <section class="cart-area pt-100 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    {% if carts|length %}
                        <div class="table-content table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th class="product-thumbnail">{% trans 'Images' %}</th>
                                    <th class="cart-product-name">{% trans 'Products' %}</th>
                                    <th class="product-price">{% trans 'Unit Price' %}</th>
                                    <th class="product-subtotal">{% trans 'Total' %}</th>
                                    <th class="product-remove">{% trans 'Remove' %}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in carts %}
                                    <tr>
                                        <td class="product-thumbnail">
                                            <a href="
                                                    {% if item.product_obj.type == 'course' %}{% url 'courses:course_detail'  item.product_obj.slug %}{% else %}{% url 'courses:package_detail' item.product_obj.slug %}{% endif %}">
                                                <img src="{{ item.product_obj.img.url }}"
                                                     alt="{{ item.product_obj.title }}">
                                            </a>
                                        </td>
                                        <td class="product-name">
                                            <a href="
                                                    {% if item.product_obj.type == 'course' %}{% url 'courses:course_detail'  item.product_obj.slug %}{% else %}{% url 'courses:package_detail' item.product_obj.slug %}{% endif %}">
                                                {{ item.product_obj.title }}
                                            </a>
                                        </td>
                                        <td class="product-price">
                                            <span class="amount">{% trans 'Toman' %}{{ item.product_obj.price }}</span>
                                        </td>
                                        <td class="product-subtotal">
                                            <span class="amount">{% trans 'Toman' %}{{ item.item_total_price }}</span>
                                        </td>
                                        <td class="product-remove">
                                            <a href="{% url 'carts:cart_remove' item.product_obj.id item.type %}">
                                                <i class="fa fa-times"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="coupon-all">
                                    <div class="coupon2">
                                        <a href="{% url 'carts:cart_clear' %}">
                                            <button class="tp-btn" type="submit">{% trans 'Clear cart' %}
                                            </button>
                                        </a>
                                        <button class="tp-btn" name="update_cart"
                                                type="submit">{% trans 'Update cart' %}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-end">
                            <div class="col-md-5 ">
                                <div class="cart-page-total">
                                    <h2>Cart totals</h2>
                                    <ul class="mb-20">
                                        <li>{% trans 'Total price' %} <span>{% trans 'Toman' %}{{ total_price }}</span>
                                        </li>
                                        <li>{% trans 'Total price after discount' %}
                                            <span>{% trans 'Toman' %}{{ total_discounted_price }}</span></li>
                                    </ul>
                                    <a class="tp-btn"
                                       href="{% url 'orders:order_create' %}">{% trans 'Proceed to checkout' %}</a>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="col_12">
                            <div class="coupon1">
                                <p>{% trans 'Your cart is empty!' %}</p>
                                <a href="{% url 'courses:course_list' %}">
                                    <button class="tp-btn" type="submit">{% trans 'Add course' %}
                                    </button>
                                </a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <!-- cart area end-->
{% endblock %}