{% load i18n %}
{% load static %}
<footer>
    <div class="footer-bg theme-bg bg-bottom" data-background="{% static 'assets/img/bg/shape-bg-02.png' %}">
        <div class="f-border pt-115 pb-70">
            <div class="container">
                <div class="row">
                    <div class="col-xl-2 col-md-4">
                        <div class="footer-widget footer-col-1 mb-50">
                            <div class="footer-widget__text mb-35">
                                <h3 class="footer-widget__title">{% trans 'AboutUs' %}</h3>
                            </div>
                            <div class="footer-widget__link">
                                <ul>
                                    <li><a href="{% url 'home:about_us' %}">{% trans 'About us' %}</a></li>
                                    <li><a href="{% url 'blogs:blog_list' %}">{% trans 'Blogs' %}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-4">
                        <div class="footer-widget footer-col-2 mb-50">
                            <div class="footer-widget__text mb-35">
                                <h3 class="footer-widget__title">{% trans 'Quick Links' %}</h3>
                            </div>
                            <div class="footer-widget__link">
                                <ul>
                                    <li><a href="{% url 'courses:course_list' %}">{% trans 'Courses' %}</a></li>
                                    <li><a href="{% url 'faq:question_answer' %}">{% trans 'FAQ' %}</a></li>
                                    <li><a href="{% url 'carts:cart' %}">{% trans 'Cart' %}</a></li>
                                    <li><a href="{% url 'home:BMI' %}">{% trans 'BMI' %}</a></li>
                                    <li>
                                        <a href="{% url 'instructors:instructor_list' %}">{% translate 'Coaches' %}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-4">
                        <div class="footer-widget footer-col-3 mb-50">
                            <div class="footer-widget__text mb-35">
                                <h3 class="footer-widget__title">{% trans 'Support' %}</h3>
                            </div>
                            <div class="footer-widget__link">
                                <ul>
                                    <li><a href="{% url 'contacts:contact' %}">{% trans 'Contact us' %}</a></li>
                                    <li><a
                                            href="{% if user.is_authenticated %}{% url 'accounts:student_dashboards' %}{% else %}{% url 'accounts:authenticate' %}{% endif %}">{% trans 'Ticketing' %}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-8">
                        <div class="footer-widget footer-col-4  mb-50">
                            <div class="footer-widget__text mb-35">
                                <h3 class="footer-widget__title">{% translate 'SupportUs' %}</h3>
                            </div>
                            <div class="footer-widget__social d-flex align-items-center">
                                {% if primary_contact.youtube_id %}
                                    <a href="https://www.youtube.com/@{{ primary_contact.youtube_id }}" target="_blank"><i
                                            class="fa-brands fa-youtube"></i></a>
                                {% endif %}
                                {% if primary_contact.instagram_id %}
                                    <a href="https://www.instagram.com/{{ primary_contact.instagram_id }}"
                                       target="_blank"><i
                                            class="fa-brands fa-instagram"></i></a>
                                {% endif %}
                                {% if primary_contact.telegram_id %}
                                    <a href="https://t.me/{{ primary_contact.telegram_id }}" target="_blank"><i
                                            class="fa-brands fa-telegram-plane"></i></a>
                                {% endif %}
                            </div>
                            <div class="mt-30">
                                <script src="https://www.zarinpal.com/webservice/TrustCode" type="text/javascript" class="ml-10"></script>
                                <a referrerpolicy='origin' target='_blank'
                                   href='https://trustseal.enamad.ir/?id=593114&Code=ms6W0EI5FJxGgED9hgmpRTKbjuSfa34C'>
                                    <img
                                            referrerpolicy='origin'
                                            src='https://trustseal.enamad.ir/logo.aspx?id=593114&Code=ms6W0EI5FJxGgED9hgmpRTKbjuSfa34C'
                                            alt='' style='cursor:pointer' code='ms6W0EI5FJxGgED9hgmpRTKbjuSfa34C'>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="f-copyright pt-60 pb-30">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <div class="f-copyright__logo mb-30">
                            <a href="{% url 'home:home' %}"><img src="{% static 'assets/img/logo/logo-fastball.png' %}"
                                                                 alt="{% trans 'fastball logo' %}"></a>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="f-copyright__text text-md-end mb-30">
                            <span>'...'</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
