{% load static %}
<div class="tp-sidebar-menu">
    <div>
        <button class="sidebar-close"><i class="icon_close"></i></button>
        <div class="side-logo mb-30">
            <a href="{% url 'home:home' %}"><img src="{% static 'assets/img/logo/logo-fastball-black.png' %}" alt="fastball-logo"></a>
        </div>
    </div>
    <div class="mobile-menu"></div>
    <div class="sidebar-info">
        <h4 class="mb-15">Contact Info</h4>
        <ul class="side_circle">
            <li>27 Division St, New York</li>
            <li><a href="tel:123456789">+1 800 123 456 78</a></li>
            <li><a href="mailto:epora@example.com">epora@example.com</a></li>
        </ul>
        <div class="side-social">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
    </div>
</div>
<div class="body-overlay"></div>