{% extends '-base.html' %}
{% load i18n %}
{% load static %}

{% block title %}
    {{ blog.title }}
{% endblock %}
{% block head %}
	<link rel="stylesheet" href="{% static 'assets/css/same_line_links.css' %}">
{% endblock %}

{% block content %}
    <!-- breadcrumb-area -->
    <section class="breadcrumb__area include-bg pt-150 pb-150 breadcrumb__overlay"
             data-background="{% static 'assets/img/breadcrumb/contact.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="breadcrumb__content p-relative z-index-1">
                        <h3 class="breadcrumb__title mb-20">{% trans 'Blog' %}</h3>
                        <div class="breadcrumb__list">
                            <span><a href="{% url 'home:home' %}">{% translate 'Home' %}</a></span>
                            <span class="dvdr"><i class="fa-regular fa-angle-left"></i></span>
                            <span><a href="{% url 'blogs:blog_list' %}">{% translate 'Blogs' %}</a></span>
                            <span class="dvdr"><i class="fa-regular fa-angle-left"></i></span>
                            <span class="sub-page-black">{{ blog.title }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb-area-end -->

    <!-- postbox area start -->
    <div class="postbox__area pt-120 pb-120">
        <div class="container">
            <div class="row">
                <div class="col-xxl-8 col-xl-8 col-lg-7 col-md-12">
                    <div class="postbox__wrapper pr-20">
                        <article class="postbox__item format-image mb-60 transition-3">
                            <div class="postbox__thumb w-img mb-30">
                                <img src="{{ blog.img.url }}" alt="">
                            </div>
                            <div class="postbox__content">
                                <div class="postbox__meta">
                                    <span><i class="fi fi-rr-calendar"></i> {{ blog.date_created|timesince }} </span>
                                    <span><a
                                            href="{% url 'instructors:instructor_detail' blog.author.id blog.author.slug %}"><i
                                            class="fi fi-rr-user"></i> {{ blog.author }}</a></span>
                                    <span><i
                                            class="fi fi-rr-comments"></i>{{ blog.comments.all|length }} {% trans 'Comments' %}</span>
                                </div>
                                <h3 class="postbox__title">
                                    {{ blog.title }}
                                </h3>
                                <div class="postbox__text">
                                    {{ blog.description|safe }}
                                </div>
                            </div>
                        </article>
                        <div class="postbox__comment mb-65">
                            <h3 class="postbox__comment-title">{{ blog.comments.all|length }} {% trans 'Comments' %}</h3>
                            <ul>
                                {% for comment in blog.comments.all %}
                                    {% if comment.is_parent %}
                                        <li>
                                            <div class="postbox__comment-box grey-bg">
                                                <div class="postbox__comment-info d-flex">
                                                    <div class="postbox__comment-avater mr-20">
                                                        <img src="{% static 'assets/img/blog/comments/comment-1.jpg' %}"
                                                             alt="{% trans "Blog's comment's Cover" %}">
                                                    </div>
                                                    <div class="postbox__comment-name">
                                                        <h5>{{ comment.user.username }}</h5>
                                                        <span class="post-meta"> {{ comment.date_created }}</span>
                                                    </div>
                                                </div>
                                                <div class="postbox__comment-text ml-65">
                                                    <p>{{ comment.text }}</p>
                                                    {% if user.is_authenticated %}
                                                        <div class="postbox__comment-reply">
                                                            <a href="#" class="reply-link"
                                                               data-id="{{ comment.id }}">{% translate 'Reply' %}</a>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </li>
                                        {% for reply in comment.replies.all %}
                                            <li class="children">
                                                <div class="postbox__comment-box grey-bg">
                                                    <div class="postbox__comment-info d-flex">
                                                        <div class="postbox__comment-avater mr-20">
                                                            <img src="{% static 'assets/img/blog/comments/comment-2.jpg' %}"
                                                                 alt="">
                                                        </div>
                                                        <div class="postbox__comment-name">
                                                            <h5>{{ reply.user.username }}</h5>
                                                            <span class="post-meta"> {{ reply.date_created }}</span>
                                                        </div>
                                                    </div>
                                                    <div class="postbox__comment-text ml-65">
                                                        <p>{{ reply.text }}</p>
                                                    </div>
                                                </div>
                                            </li>
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>

                        <div class="postbox__comment-form">
                            <h3 class="postbox__comment-form-title">{% trans 'Write a comment' %}</h3>
                            {% if user.is_authenticated %}
                                <form id="comment-form" method="post">
                                    {% csrf_token %}
                                    {{ comment_form.non_field_errors | safe }}
                                    <input type="hidden" name="parent_id" id="parent_id">
                                    <div class="row">
                                        <div class="col-xxl-12">
                                            <div class="postbox__comment-input">
                                                {{ comment_form.text.errors | safe }}
                                                {{ comment_form.text }}
                                            </div>
                                        </div>
                                        <div class="col-xxl-12">
                                            <div class="postbox__comment-btn">
                                                <button type="submit" class="tp-btn">{% trans 'Post Comment' %}</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            {% else %}
                                <div class="contact-form-input_same_line mb-40">
                                    <span>{% trans 'If you wanna send commnet please ' %}</span>
                                    <a href="#">{% trans 'LOGIN' %}</a><span>{% trans ' or ' %}</span><a
                                        href="#">{% trans 'SIGNUP.' %}</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-5 col-md-12">
                    <div class="sidebar__wrapper">
                        <div class="sidebar__widget mb-55">
                            <h3 class="sidebar__widget-title mb-25">{% trans 'Recent Post' %}</h3>
                            <div class="sidebar__widget-content">
                                <div class="sidebar__post rc__post">
                                    {% for post in recent_posts %}
                                        <div class="rc__post mb-20 d-flex align-items-center">
                                            <div class="rc__post-thumb">
                                                <a href="{{ blog.get_absolute_url }}"><img
                                                        src="{% get_media_prefix %}{{ post.img }}"
                                                        alt="blog-sidebar"></a>
                                            </div>
                                            <div class="rc__post-content">
                                                <h3 class="rc__post-title">
                                                    <a href="{{ blog.get_absolute_url }}">{{ post.title }}</a>
                                                </h3>
                                                <div class="rc__meta">
                                                    <span>{{ post.date_created|timesince }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- postbox area end -->
{% endblock %}

