{% extends '-base.html' %}
{% load persian_tags %}
{% load widget_tweaks %}
{% load i18n %}
{% load static %}

{% block title %}
    {% trans 'Checkout' %}
{% endblock %}

{% block head %}
	<meta name="csrf-token" content="{{ csrf_token }}">
    <style>
    .error {
        color: red;
    }

    .success {
        color: green;
    }
    </style>
{% endblock %}

{% block content %}
    <!-- breadcrumb-area -->
    <section class="breadcrumb__area include-bg pt-150 pb-150 breadcrumb__overlay"
             data-background="{% static 'assets/img/breadcrumb/cart.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="breadcrumb__content p-relative z-index-1">
                        <h3 class="breadcrumb__title mb-20">{% trans 'Checkout' %}</h3>
                        <div class="breadcrumb__list">
                            <span><a href="{% url 'home:home' %}">{% trans 'HomePage' %}</a></span>
                            <span class="dvdr"><i class="fa-regular fa-angle-right"></i></span>
                            <span class="sub-page-black">{% trans 'Checkout' %}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb-area-end -->

    <!-- coupon-area start -->
    <section class="coupon-area pt-100 pb-30">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="coupon-accordion">
                        <!-- ACCORDION START -->
                        <h3>{% trans 'Have a coupon?' %} <span
                                id="showcoupon">{% trans 'Click here to enter your code' %}</span></h3>
                        <div id="checkout_coupon" class="coupon-checkout-content" style="display: none;">
                            <div class="coupon-info">
                                <form id="coupon-form">
                                    <p class="checkout-coupon">
                                        <input type="text" id="coupon-code" placeholder="{% trans 'Coupon Code' %}"/>
                                        <button class="tp-btn-3" id="apply-coupon-btn"
                                                type="button">{% trans 'Apply Coupon' %}</button>
                                    </p>
                                </form>
                                <div id="coupon-message"></div>
                            </div>
                        </div>

                        {% if cart.coupon_code %}
                            <div id="applied-coupon">
                                <p>{% trans 'Applied Coupon:' %} <strong>{{ cart.coupon_code }}</strong> ({% trans 'Discount:' %} {{ cart.coupon_discount }} {% trans 'Toman' %})</p>
                                <button id="remove-coupon-btn" class="tp-btn-3">{% trans 'Remove Coupon' %}</button>
                            </div>
                        {% endif %}
                        <!-- ACCORDION END -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- coupon-area end -->

    <!-- checkout-area start -->
    <section class="checkout-area pb-70">
        <div class="container">
            <form action="#" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="your-order mb-30 ">
                            <h3>{% trans 'Your order' %}</h3>
                            <div class="your-order-table table-responsive">
                                <table>
                                    <thead>
                                    <tr>
                                        <th class="product-name">{% trans 'Product' %}</th>
                                        <th class="product-total">{% trans 'Total' %}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in cart %}
                                        <tr class="cart_item">
                                            <td class="product-name">
                                                {{ item.product_obj.title }} <strong class="product-name"></strong>
                                            </td>
                                            <td class="product-total">
                                                <span class="amount price">{{ item.product_obj.price|to_persian_number:'humanize' }} {% trans 'Toman' %}</span>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    <tfoot>
                                    <tr class="cart-subtotal">
                                        <th>{% trans 'Cart Subtotal' %}</th>
                                        <td><span id="cart-subtotal"
                                                class="amount">{{ total_price|to_persian_number:'humanize' }} {% trans 'Toman' %}</span>
                                        </td>
                                    </tr>
                                    <tr class="shippings">
                                        <th>Shipping</th>
                                        <td>
                                            <ul>
                                                {% render_field form.status type="radio" name="status" class='radio' %}
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr class="order-total">
                                        <th>{% trans 'Order Total' %}</th>
                                        <td><strong><span id="order-total"
                                                class="amount">{{ total_discounted_price|to_persian_number:'humanize' }} {% trans 'Toman' %}</span></strong>
                                        </td>
                                    </tr>
                                    </tfoot>
                                </table>
                                <div class="order-button-payment mt-20">
                                    <button type="submit" class="tp-btn">{% trans 'Place order' %}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div id="buy-dvd-section" style="display: none;">
                            <div class="checkbox-form">
                                <h3>{% trans 'Buy DVD' %}</h3>
                                <div class="different-address">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="checkout-form-list">
                                                <label>{% trans 'First Name' %} <span class="required">*</span></label>
                                                {% render_field form.first_name type="text" placeholder="" %}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="checkout-form-list">
                                                <label>{% trans 'Last Name' %} <span class="required">*</span></label>
                                                {% render_field form.last_name type="text" placeholder="" %}
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="checkout-form-list">
                                                <label>{% trans 'Town / City' %} <span class="required">*</span></label>
                                                {% render_field form.shipping_city type="text" placeholder="" %}
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="checkout-form-list">
                                                <label>{% trans 'Address' %} <span class="required">*</span></label>
                                                {% render_field form.shipping_address type="text" placeholder="" %}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="checkout-form-list">
                                                <label>{% trans 'Postcode / Zip' %} <span
                                                        class="required">*</span></label>
                                                {% render_field form.postal_code type="text" placeholder="" %}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="checkout-form-list">
                                                <label>{% trans 'Email Address' %} <span
                                                        class="required">*</span></label>
                                                {% render_field form.email type="email" placeholder="" %}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="checkout-form-list">
                                                <label>{% trans 'Phone' %} <span class="required">*</span></label>
                                                {% render_field form.phone_number type="text" placeholder="" %}
                                            </div>
                                        </div>
                                        <div class="order-notes">
                                            <div class="checkout-form-list"><label>{% trans 'Order Notes' %}</label>
                                                {% render_field form.order_note id="checkout-mess" cols="30" rows="10" placeholder="" %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <!-- checkout-area end -->
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function () {
            const csrftoken = $('meta[name=csrf-token]').attr('content');
            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });



            $('#apply-coupon-btn').on('click', function () {
                const couponCode = $('#coupon-code').val().trim();
                if (!couponCode) {
                    $('#coupon-message').html('<p class="error">{% trans 'Please enter a coupon code.' %}</p>');
                    return;
                }

                $.ajax({
                    url: '{% url 'orders:apply_coupon' %}',
                    method: 'POST',
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        coupon_code: couponCode,
                    },
                    success: function (response) {
                        if (response.success) {
                            $('#coupon-message').html('<p class="success">' + response.message + '</p>');
                            $('#applied-coupon').html(`
                            <p>{% trans 'Applied Coupon:' %} <strong>${response.coupon_code}</strong> ({% trans 'Discount' %}: ${response.coupon_discount} {% trans 'Toman' %})</p>
                            <button id="remove-coupon-btn" class="tp-btn-3">{% trans 'Remove Coupon' %}</button>
                    `);
                            $('#checkout_coupon').hide();
                            updateCartTotals(response.total_price, response.final_price);
                        } else {
                            $('#coupon-message').html('<p class="error">' + response.message + '</p>');
                        }
                    },
                    error: function () {
                        $('#coupon-message').html('<p class="error">{% trans 'An error occurred. Please try again later.' %}</p>');
                    },
                });
            });

            $(document).on('click', '#remove-coupon-btn', function () {
                $.ajax({
                    url: '{% url 'orders:remove_coupon' %}',
                    method: 'POST',
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success: function (response) {
                        if (response.success) {
                            $('#applied-coupon').empty();
                            $('#coupon-message').html('<p class="success">' + response.message + '</p>');
                            updateCartTotals(response.total_price, response.final_price);
                        } else {
                            $('#coupon-message').html('<p class="error">' + response.message + '</p>');
                        }
                    },
                    error: function () {
                        $('#coupon-message').html('<p class="error">{% trans 'An error occurred. Please try again later.' %}</p>');
                    },
                });
            });

            function updateCartTotals(totalPrice, finalPrice) {
                $('#cart-subtotal').text(`${totalPrice.toLocaleString('fa-IR')} {% trans 'Toman' %}`);
                $('#order-total').text(`${finalPrice.toLocaleString('fa-IR')} {% trans 'Toman' %}`);
            }
        });
    </script>
{% endblock %}
