{% extends '-base.html' %}
{% load persian_tags %}
{% load i18n %}
{% load static %}

{% block title %}
    {% trans 'About Us' %}
{% endblock %}

{% block content %}
    <!-- breadcrumb-area -->
    <section class="breadcrumb__area include-bg pt-150 pb-150 breadcrumb__overlay"
             data-background="{% static 'assets/img/breadcrumb/about.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="breadcrumb__content p-relative z-index-1">
                        <h3 class="breadcrumb__title mb-20">{% trans 'About Us' %}</h3>
                        <div class="breadcrumb__list">
                            <span><a href="{% url 'home:home' %}">{% trans 'HomePage' %}</a></span>
                            <span class="dvdr"><i class="fa-regular fa-angle-left"></i></span>
                            <span class="sub-page-black">{% trans 'About Us' %}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb-area-end -->

    <!-- feature-area -->
    <section class="tp-feature-area grey-bg pt-115 pb-90 pl-205 pr-205 bg-bottom"
             data-background="{% static 'assets/img/bg/shape-bg-1.png' %}">
        <div class="container-fluid">
            <div class="row text-center">
                <div class="col-lg-12">
                    <div class="section-title mb-60">
                        <span class="tp-sub-title mb-20">{% trans 'What We Offer' %}</span>
                        <h2 class="tp-section-title">{% trans 'For Your Future Learning.' %}</h2>
                    </div>
                </div>
            </div>
            <div class="tp-feature-cn">
                <div class="row justify-content-center">

                    <div class="col-xl-3 col-lg-6 col-md-6">
                        <div class="tpfea mb-30">
                            <div class="tpfea__icon mb-25">
                                <i class="fi fi-rr-user"></i>
                            </div>
                            <div class="tpfea__text">
                                <h5 class="tpfea__title mb-20">مربی متخصص</h5>
                                <p>مربیان تیم ما، با تجربه‌ای گسترده و دانش عمیق، همواره در تلاش‌اند تا بازیکنان را به
                                    اوج آمادگی بدنی،تکنیکی و ذهنی و برسانند. با تعهد و پشتکاری مثال‌زدنی، آن‌ها مسیر
                                    پیشرفت و موفقیت شما هموار میشود</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6">
                        <div class="tpfea mb-30">
                            <div class="tpfea__icon mb-25">
                                <i class="fi fi-rr-document"></i>
                            </div>
                            <div class="tpfea__text">
                                <h5 class="tpfea__title mb-20">دریافت گواهی</h5>
                                <p>در پایان دوره شما مدرک پایان دوره آکادمی فستبال رو دریافت میکنید</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6">
                        <div class="tpfea mb-30">
                            <div class="tpfea__icon mb-25">
                                <i class="fi fi-rr-calendar"></i>
                            </div>
                            <div class="tpfea__text">
                                <h5 class="tpfea__title mb-20">دسترسی مادام العمر</h5>
                                <p>مادام العمر به این دوره دسترسی دارید و از تمامی اپدیت ها رایگان استفاده میکنید</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6">
                        <div class="tpfea mb-30">
                            <div class="tpfea__icon mb-25">
                                <i class="fi fi-rr-football"></i>
                            </div>
                            <div class="tpfea__text">
                                <h5 class="tpfea__title mb-20">معرفی به تیم</h5>
                                <p>در صورت داشتن آمادگی بدنی و تکنیکی شمارا به تیم های پایه تهران معرفی میکنیم</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- feature-area-end -->

    <!-- about-area -->
    <section class="tp-about-area pb-70">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xxl-7 col-xl-7 col-lg-6 col-md-12 col-12">
                    <div class="tp-about-class p-relative pb-50">
                        <img src="{% static 'assets/img/about/aboutus-02.jpg' %}" alt="about-img">
                        <div class="tp-about-class-info tp-sub-about-info d-none d-md-block">
                            <ul>
                                <li><span>{{ counter.students|to_persian_number }}+</span>{% trans 'Worldwide Students' %}</li>
                                <li><span>{{  counter.comments|to_persian_number }}+<i class="fi fi-ss-star"></i></span>{% trans 'Worldwide Review' %}</li>
                                <li><span>{{ counter.professional_courses|to_persian_number }}+</span>{% trans 'Free Pro Course' %}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-5 col-xl-5 col-lg-6 col-md-12 col-12">
                    <div class="tp-about-class-content mb-50 ml-75">
                        <div class="section-title mb-35">
                            <span class="tp-sub-title-box mb-15">درباره ما</span>
                            <h2 class="tp-section-title mb-25">جایی که فوتبالت متحول میشه! ⚽️🔥</h2>
                            <p>اینجا زمین بازی توئه! ما اومدیم تا بهت کمک کنیم مثل حرفه‌ای‌ها فوتبال بازی کنی. اگه عاشق
                                فوتبال هستی، اگه همیشه دنبال پیشرفت توی تکنیک، بدنسازی فوتبال و هوش بازی بودی، این دوره
                                آموزشی برای تو ساخته شده!</p>
                        </div>
                        <div class="tp-about-list mb-65">
                            <ul>
                                <li>
                                    <i class="fa-light fa-check"></i>
                                    مهارت‌های تکنیکی: کنترل توپ، دریبل، پاس و شوت‌زنی
                                    مثل حرفه‌ای‌ها
                                </li>
                                <li>
                                    <i class="fa-light fa-check"></i>
                                    تاکتیک‌های بازی: تصمیم‌گیری سریع، جاگیری درست و
                                    خواندن حرکات حریف
                                </li>
                                <li>
                                    تمرینات بدنی و ذهنی: افزایش استقامت، قدرت و تمرکز
                                    در زمین بازی
                                    آنالیز و تحلیل فوتبالی و…
                                    <i class="fa-light fa-check"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about-area-end -->

    <!-- choose-area -->
    <section class="choose-area bg-bottom pb-120">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-5 col-lg-6 col-md-12">
                    <div class="tp-choose-content mb-30">
                        <div class="section-title mb-25">
                            <span class="tp-sub-title-box mb-15">چرا ما</span>
                            <h2 class="tp-section-title mb-20">چرا باید مارو انتخاب کنید؟</h2>
                            <p>دوره ما به دلیل ترکیب آموزش‌های حرفه‌ای، تمرینات کاربردی و پشتیبانی شخصی، بهترین انتخاب
                                برای پیشرفت سریع در فوتبال است. با شرکت در این دوره شما به طور قابل توجهی مهارت‌های خود
                                را بهبود خواهید داد.</p>

                        </div>
                        <div class="tp-choose-list tp-choose-bg mb-60">
                            <ul>
                                <li>
                                    <div class="tp-list-bg choose-sub-color">
                                        <i class="fa-light fa-check"></i>در هر بخش مربی تخصصی به شما آموزش میدهد
                                    </div>
                                </li>
                                <li>
                                    <div class="tp-list-bg choose-sub-color">
                                        <i class="fa-light fa-check"></i>بیش از ۶ هزار هنرجو موفق داریم
                                    </div>
                                </li>
                                <li>
                                    <div class="tp-list-bg choose-sub-color">
                                        <i class="fa-light fa-check"></i>تمامی آموزش ها با پشتیبانی انجام میشود
                                    </div>
                                </li>
                                <li>
                                    <div class="tp-list-bg choose-sub-color">
                                        <i class="fa-light fa-check"></i>آموزش ها با بالاترین کیفیت در اختیار شما قرار
                                        میگیرد
                                    </div>
                                </li>
                                <li>
                                    <div class="tp-list-bg choose-sub-color">
                                        <i class="fa-light fa-check"></i>برای همه پست ها تمرینات تخصصی داریم
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-6 col-md-12">
                    <div class="tp-choose-img tp-choose-img-2 p-relative mb-30 mr-50 text-end">
                        <img src="{% static 'assets/img/about/aboutus-03.jpg' %}" alt="choose-img">
                        <div class="tpchoose-img-text tp-chose-shape d-none d-md-block">
                            <ul>
                                <li>
                                    <i>6k+</i>
                                    <p>هنرجو موفق</p>
                                </li>
                                <li>
                                    <i class="fa-light fa-check"></i>
                                    <p>مربی تخصصی در هر بخش</p>
                                </li>
                                <li>
                                    <i class="fa-light fa-soccer-ball"></i>
                                    <p>بالاترین کیفیت آموزش </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- choose-area-end -->

    <!-- testimonial-area -->
    <section class="testimonial-area bg-bottom pt-120 pb-90 "
             data-background="{% static 'assets/img/bg/shape-bg-1.png' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title text-center mb-65">
                        <span class="tp-sub-title-box mb-15">{% trans 'Comments' %}</span>
                        <h2 class="tp-section-title mb-20">{% trans 'What Our Happy Users Says' %}</h2>
                    </div>
                </div>
            </div>
            <div class="testimonial-active-box tp-slide-space-white">
                {% for comment in comments %}
                    <div class="tp-test-s-item">
                        <div class="tp-testi tp-testi-round p-relative">
                            <div class="tp-testi__ava testi-ava-border d-flex align-items-center mb-20 pb-20">
                                <img src="{{ comment.user.get_photo_url }}" alt="profile">
                                <div class="tp-testi__avainfo ml-20">
                                    <h3 class="tp-testi__title tp-title-meta mt-5">{{ comment.user.get_full_name }}</h3>
                                    <i>{{ comment.course.title }}</i>
                                </div>
                            </div>
                            <p>{{ comment.text|truncatewords:80 }}</p>
                            <div class="tp-testi__rating mb-5">
                                {% for i in "54321" %}
                                    {% if comment.rate >= i|add:"0" %}
                                        <i class="fi fi-ss-star"></i>
                                    {% else %}
                                        <i class="fi fi-rs-star"></i>
                                    {% endif %}
                                {% endfor %}
                                <span>{{ comment.rate|to_persian_number }}</span>
                            </div>
                            <div class="testi-quote">
                                <i class="fa-solid fa-quote-left"></i>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- testimonial-area-end -->

    <!-- instructor-area -->
    <section class="instructor-area pt-110 pb-110">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-8 col-md-7 col-12">
                    <div class="section-title mb-65">
                        <h2 class="tp-section-title mb-20">{% trans 'Coaches' %}</h2>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-4 col-md-5 col-6">
                    <div class="tp-instruc-arrow d-flex justify-content-md-end"></div>
                </div>
            </div>
            <div class="intruc-active mb-15 tp-slide-space">
                {% for instructor in instructors %}
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="tp-instruc-item">
                            <div class="tp-instructor text-center p-relative mb-40">
                                <div class="tp-instructor__thumb mb-25">
                                    <img src="{{ instructor.user.get_photo_url }}" alt="instructor-profile">
                                </div>
                                <div class="tp-instructor__content">
                                    <h4 class="tp-instructor__title tp-instructor__title-info p-relative mb-35 mt-5"><a
                                            href="{{ instructor.get_absolute_url }}">{{ instructor.full_name }}</a></h4>
                                    <div class="tp-instructor__stu-info">
                                        <ul class="d-flex align-items-center justify-content-center">
                                            <li class="d-flex align-items-center"><img
                                                    src="{% static 'assets/img/icon/c-meta-01.png' %}"
                                                    alt="meta-icon">
                                                <i>{{ instructor.video_count|to_persian_number }} {% trans 'Classes' context 'singular' %}</i>
                                            </li>
                                            <li class="d-flex align-items-center"><img
                                                    src="{% static 'assets/img/icon/c-meta-02.png' %}"
                                                    alt="meta-icon">
                                                <i>{{ instructor.student_count|to_persian_number }}+ {% trans 'Students' context 'singular' %}</i>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="tp-instructor__social">
                                        <ul>
                                            {% if primary_contact.youtube_id %}
                                                <li>
                                                    <a href="https://www.youtube.com/@{{ primary_contact.youtube_id }}"
                                                       target="_blank"><i
                                                            class="fa-brands fa-youtube"></i></a></li>
                                            {% endif %}
                                            {% if primary_contact.instagram_id %}
                                                <li>
                                                    <a href="https://www.instagram.com/{{ primary_contact.instagram_id }}"
                                                       target="_blank"><i
                                                            class="fa-brands fa-instagram"></i></a></li>
                                            {% endif %}
                                            {% if primary_contact.telegram_id %}
                                                <li><a href="https://t.me/{{ primary_contact.telegram_id }}"
                                                       target="_blank"><i
                                                        class="fa-brands fa-telegram-plane"></i></a></li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="instructor-btn text-center">
                        <a class="tp-btn" href="{% url 'instructors:instructor_list' %}">{% trans 'Coaches' %}</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- instructor-area-end -->

    <!-- counter-area -->
    <section class="tp-counter-area bg-bottom grey-bg pt-120 pb-60"
             data-background="{% static 'assets/img/bg/shape-bg-1.png' %}">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-md-6">
                    <div class="counter-item mb-60 text-center">
                        <div class="counter-item__icon mb-25">
                            <i class="fi fi-rr-user"></i>
                        </div>
                        <div class="counter-item__content">
                            <h4 class="counter-item__title"><span class="counter" data-value="{{ counter.students }}"></span>+</h4>
                            <p>{% trans 'Worldwide Students' %}</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="counter-item mb-60 text-center">
                        <div class="counter-item__icon mb-25">
                            <i class="fi fi-rr-document"></i>
                        </div>
                        <div class="counter-item__content">
                            <h4 class="counter-item__title"><span class="counter" data-value="{{ counter.experience_years }}"></span>+</h4>
                            <p>{% trans 'Years Experience' %}</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="counter-item mb-60 text-center">
                        <div class="counter-item__icon mb-25">
                            <i class="fi fi-rr-apps"></i>
                        </div>
                        <div class="counter-item__content">
                            <h4 class="counter-item__title"><span class="counter" data-value="{{ counter.professional_courses }}"></span>+</h4>
                            <p>{% trans 'Professional Courses' %}</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="counter-item mb-60 text-center">
                        <div class="counter-item__icon mb-25">
                            <i class="fi fi-rr-star"></i>
                        </div>
                        <div class="counter-item__content">
                            <h4 class="counter-item__title"><span class="counter" data-value="{{ counter.comments }}"></span>+</h4>
                            <p>{% trans 'Beautiful Review' %}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- counter-area-end -->

{% endblock %}