{% extends '-base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
    {% trans 'Home' %}
{% endblock %}

{% block header %}
    <!-- header area start -->
    <header class="header__transparent">
        <div class="header__area pl-220 pr-220 pt-30">
            <div class="main-header" id="header-sticky">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-xxl-3 col-xl-3 col-lg-5 col-md-6 col-6">
                            <div class="logo-area d-flex align-items-center">
                                <div class="logo">
                                    <a href="{% url 'home:home' %}">
                                        <img src="{% static 'assets/img/logo/logo-fastball.png' %}" alt="logo">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-9 col-xl-9 col-lg-7 col-md-6 col-6 d-flex align-items-center justify-content-end">
                            <div class="main-menu d-flex justify-content-end mr-15">
                                <nav id="mobile-menu">
                                    <ul>

                                        <li>
                                            <a href="{% url 'home:home' %}">{% trans 'Home' %}</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'courses:course_list' %}">{% trans 'Courses' %}</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'blogs:blog_list' %}">{% trans 'Blogs' %}</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'instructors:instructor_list' %}">{% trans 'Instructors' %}</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'home:BMI' %}">{% trans 'BMI' %}</a>
                                        </li>
                                        <li class="has-dropdown">
                                            <a href="#">{% trans 'Pages' %}</a>
                                            <ul class="submenu">
                                                <li><a href="{% url 'home:about_us' %}">{% trans 'About Us' %}</a></li>
                                                <li><a href="{% url 'contacts:contact' %}">{% trans 'Contact Us' %}</a>
                                                </li>
                                                <li><a href="checkout.html">{% trans 'Check Out' %}</a></li>
                                                <li><a href="{% url 'faq:question_answer' %}">{% trans 'FAQ' %}</a></li>
                                                <li><a href="register.html">{% trans 'Register' %}</a></li>
                                                <li><a href="sign-in.html">{% trans 'Sign In' %}</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="header-right d-md-flex align-items-center">
                                <div class="header__search d-none d-lg-block">
                                    <form action="#">
                                        <div class="header__search-input">
                                            <button class="header__search-btn">
                                                <i class="fa-regular fa-magnifying-glass"></i>
                                            </button>
                                            <input type="text" placeholder="{% trans 'Search Courses' %}">
                                        </div>
                                    </form>
                                </div>
                                <div class="header-meta">
                                    <ul>
                                        <li><a href="{% url 'accounts:student_dashboards' %}" class="d-none d-md-block"><i
                                                class="fi fi-rr-user"></i></a></li>
                                        <li><a href="{% url 'carts:cart' %}" class="d-none d-md-block"><i
                                                class="	 fi fi-rr-shopping-bag"></i></a></li>
                                        <li><a href="#" class="tp-menu-toggle d-xl-none"><i class="icon_ul"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header area end -->
{% endblock %}

{% block content %}
    <!-- banner-area -->
    <section class="banner-area fix p-relative">
        <div class="banner-bg" data-background="{% static 'assets/img/banner/banner-blue.jpg' %}">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6">
                        <div class="banner-info d-none">
                            <ul>
                                <li><span>235K</span>Worldwide Students</li>
                                <li><span>3.5K</span>Free Pro Courses</li>
                                <li><span>4.7<i class="fi fi-rr-star "></i></span>Worldwide Review</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-8">
                        <div class="hero-content">
                            <span>فستبال پر مخاطب ترین صفحه آموزشی فوتبال کشور</span>
                            <h2 class="hero-title mb-35">از زمین مجازی تا زمین واقع؛فوتبالیست <i>شو</i>.</h2>
                            <p>دوره آنلاین فوتبال ما به شما کمک می‌کند تا از پایه تا تکنیک‌های پیشرفته را به‌صورت
                                گام‌به‌گام و حرفه‌ای بیاموزید. با تمرینات متنوع و پشتیبانی مربیان مجرب، فوتبالتان را به
                                سطح جدیدی ببرید و در هر زمان و مکانی پیشرفت کنید!</p>
                            <div class="tp-banner-btn">
                                <a href="{% url 'courses:course_list' %}"
                                   class="tp-btn">{% trans 'Explore Courses' %}</a>
                            </div>
                        </div>
                    </div>
                    <div class="banner-shape d-none d-lg-block">
                        <img src="{% static 'assets/img/banner/home-banner-shape-01.jpg' %}" alt="banner-shape"
                             class="b-shape">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner-area-end -->

    <!-- feature-area -->
    <section class="tp-feature-area grey-bg pt-115 pb-90 pl-205 pr-205 bg-bottom"
             data-background="{% static 'assets/img/bg/shape-bg-1.png' %}">
        <div class="container-fluid">
            <div class="row text-center">
                <div class="col-lg-12">
                    <div class="section-title mb-60">
                        <span class="tp-sub-title mb-20">{% trans 'What We Offer' %}</span>
                        <h2 class="tp-section-title">{% trans 'For Your Future Learning.' %}</h2>
                    </div>
                </div>
            </div>
            <div class="tp-feature-cn">
                <div class="row justify-content-center">

                    <div class="col-xl-3 col-lg-6 col-md-6">
                        <div class="tpfea mb-30">
                            <div class="tpfea__icon mb-25">
                                <i class="fi fi-rr-user"></i>
                            </div>
                            <div class="tpfea__text">
                                <h5 class="tpfea__title mb-20">مربی متخصص</h5>
                                <p>مربیان تیم ما، با تجربه‌ای گسترده و دانش عمیق، همواره در تلاش‌اند تا بازیکنان را به
                                    اوج آمادگی بدنی،تکنیکی و ذهنی و برسانند. با تعهد و پشتکاری مثال‌زدنی، آن‌ها مسیر
                                    پیشرفت و موفقیت شما هموار میشود</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6">
                        <div class="tpfea mb-30">
                            <div class="tpfea__icon mb-25">
                                <i class="fi fi-rr-document"></i>
                            </div>
                            <div class="tpfea__text">
                                <h5 class="tpfea__title mb-20">دریافت گواهی</h5>
                                <p>در پایان دوره شما مدرک پایان دوره آکادمی فستبال رو دریافت میکنید</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6">
                        <div class="tpfea mb-30">
                            <div class="tpfea__icon mb-25">
                                <i class="fi fi-rr-calendar"></i>
                            </div>
                            <div class="tpfea__text">
                                <h5 class="tpfea__title mb-20">دسترسی مادام العمر</h5>
                                <p>مادام العمر به این دوره دسترسی دارید و از تمامی اپدیت ها رایگان استفاده میکنید</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6">
                        <div class="tpfea mb-30">
                            <div class="tpfea__icon mb-25">
                                <i class="fi fi-rr-football"></i>
                            </div>
                            <div class="tpfea__text">
                                <h5 class="tpfea__title mb-20">معرفی به تیم</h5>
                                <p>در صورت داشتن آمادگی بدنی و تکنیکی شمارا به تیم های پایه تهران معرفی میکنیم</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- feature-area-end -->

    <!-- pishro-area -->
    <section class="tp-about-area pt-120 pb-90">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xxl-7 col-xl-6 col-lg-6 col-md-6">
                    <div class="tp-about-img p-relative pb-30 ml-10">
                        <img src="{% static 'assets/img/about/home-pishro-main.png' %}" alt="pishro-img">
                        <div class="tp-about-line-shape d-none d-md-block">
                            <img src="{% static 'assets/img/about/about-shape-03.png' %}" alt="about-shape"
                                 class="tp-aline-one">
                            <img src="{% static 'assets/img/about/about-shape-04.png' %}" alt="about-shape"
                                 class="tp-aline-two">
                            <img src="{% static 'assets/img/about/about-shape-05.png' %}" alt="about-shape"
                                 class="tp-aline-three">
                        </div>
                        <div class="tp-about-shape  d-none d-xl-block">
                            <img src="{% static 'assets/img/about/home-pishro-left-shape-01.png' %}" alt="about-shape"
                                 class="a-shape-one">
                            <img src="{% static 'assets/img/about/home-herfee-left-shape-02.png' %}"
                                 alt="about-shape"
                                 class="a-shape-two">
                        </div>
                    </div>
                </div>
                <div class="col-xxl-5 col-xl-6 col-lg-6 col-md-6">
                    <div class="tp-about-content pb-30">
                        <div class="section-title mb-55">
                            <span class="tp-sub-title mb-20">پیشرو +</span>
                            <h2 class="tp-section-title mb-15">دوره پیشرو پلاس شمارا از یک فوتبالیست آماتور به یک
                                فوتبالیست کاملا حرفه ای تبدیل میکند</h2>
                            <p>این دوره متشکل شده از
                                بدنسازی فوتبال،
                                مهارت های فردی فوتبال،
                                روانشناسی فوتبال،
                                پیشگیری از آسیب فوتبال،
                                آنالیز پست های فوتبالی،
                                تغذیه فوتبالی،
                                مدیریت حرفه ای روتین فوتبالی،
                                هوش فوتبال در زمین،
                                تاکتیک ها و سیستم های بازی.

                            </p>
                        </div>
                        <div class="about-btn">
                            <a href="{% url 'home:about_us' %}" class="tp-btn">{% trans 'Read More' %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about-area-end -->

    <!-- course-area -->
    <section class="course-area pt-115 pb-110">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title mb-65">
                        <h2 class="tp-section-title mb-20">{% trans 'Explore Popular Courses' %}</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                {% for product in products %}
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <div class="tpcourse mb-40">
                            <div class="tpcourse__thumb p-relative w-img fix">
                                <a href="{{ product.get_absolute_url }}">
                                    <img src="{% get_media_prefix %}{{ product.img }}" alt="course-thumb">
                                </a>
                                <div class="tpcourse__tag">
                                    <a href="{% url 'carts:cart_add' product.id product.product_type %}">
                                        <i class="fi fi-rr-heart"></i>
                                    </a>
                                </div>
                                {% if product.product_type == 1 and product.coach_profile %}
                                    <div class="tpcourse__img-icon">
                                        <img src="{{ product.coach_profile }}" alt="course-avata">
                                    </div>
                                {% endif %}
                            </div>
                            <div class="tpcourse__content-2">
                                <div class="tpcourse__ava-title mb-15">
                                    <h4 class="tpcourse__title tp-cours-title-color">
                                        <a href="
                                                {{ product.get_absolute_url }}">{{ product.title }}</a>
                                    </h4>
                                </div>
                                <div class="tpcourse__meta tpcourse__meta-gap pb-15 mb-15">
                                    <ul class="d-flex align-items-center">
                                        <li>
                                            <img {% if product.product_type == 2 %}src="{% static 'assets/img/icon/c-meta-03.png' %}" {% else %}
                                                 src="{% static 'assets/img/icon/c-meta-01.png' %}" {% endif %}
                                                 alt="meta-icon">
                                            <span>{% if product.product_type == 2 %}{{ product.num_courses|default:0 }}
                                                {% trans 'Courses' %} {% else %}{{ product.num_videos }}
                                                {% trans 'Classes' %} {% endif %}</span>
                                        </li>
                                        <li>
                                            <img src="{% static 'assets/img/icon/c-meta-02.png' %}" alt="meta-icon">
                                            <span>{{ product.num_members }} {% trans 'Students' %}</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="tpcourse__rating d-flex align-items-center justify-content-between">
                                    <div class="tpcourse__rating-icon">
                                        <span>{{ product.avg_rate|default:0 }}</span>
                                        {% for i in "54321" %}
                                            {% if product.avg_rate >= i|add:"0" %}
                                                <i class="fi fi-ss-star"></i>
                                            {% else %}
                                                <i class="fi fi-rs-star"></i>
                                            {% endif %}
                                        {% endfor %}
                                        <p>({{ product.num_comment }})</p>
                                    </div>
                                    <div class="tpcourse__pricing">
                                        <h5 class="price-title">{% trans 'Toman' %} {{ product.discounted_price }}</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row text-center">
                <div class="col-lg-12">
                    <div class="course-btn mt-20"><a class="tp-btn"
                                                     href="{% url 'courses:course_list' %}">{% trans 'Browse All Courses' %}</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- course-area-end -->

    <!-- choose-area -->
    <section class="choose-area pb-90">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-7 col-lg-6 col-md-6">
                    <div class="tp-choose-img p-relative mb-30 ml-25">
                        <img src="{% static 'assets/img/bg/choose-img-01.jpg' %}" alt="choose-img">
                        <div class="tpchoose-img-text d-none d-md-block">
                            <ul>
                                <li>
                                    <i>23+</i>
                                    <p>{% trans 'Years Experiences' %}</p>
                                </li>
                                <li>
                                    <i class="fa-light fa-check"></i>
                                    <p>{% trans 'Fully Safe & Secure' %}</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-6 col-md-6">
                    <div class="tp-choose-content mb-30">
                        <div class="section-title mb-25">
                            <span class="tp-sub-title mb-25">چرا ما</span>
                            <h2 class="tp-section-title mb-20">چرا باید مارو انتخاب کنید؟</h2>
                            <p>دوره ما به دلیل ترکیب آموزش‌های حرفه‌ای، تمرینات کاربردی و پشتیبانی شخصی، بهترین انتخاب
                                برای پیشرفت سریع در فوتبال است. با شرکت در این دورهشما به طور قابل توجهی مهارت‌های خود
                                را بهبود خواهید داد.</p>
                        </div>
                        <div class="tp-choose-list mb-35">
                            <ul>
                                <li><i class="fa-light fa-check"></i>در هر ببخش مربی تخصصی به شما آموزش میدهد</li>
                                <li><i class="fa-light fa-check"></i>بیش از ۶ هزار هنرجو موفق داریم</li>
                                <li><i class="fa-light fa-check"></i>تمامی آموزش ها با پشتیبانی انجام میشود</li>
                                <li><i class="fa-light fa-check"></i>آموزش ها با بالاترین کیفیت در اختیار شما قرار
                                    میگیرد
                                </li>
                                <li><i class="fa-light fa-check"></i>برای همه پست ها تمرینات تخصصی داریم</li>
                            </ul>
                        </div>
                        <div class="choose-btn">
                            <a href="{% url 'instructors:instructor_list' %}" class="tp-btn">{% trans 'Read more' %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- choose-area-end -->

    <!-- counter-area -->
    <section class="tp-counter-area bg-bottom grey-bg pt-120 pb-60"
             data-background="{% static 'assets/img/bg/shape-bg-1.png' %}">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-md-6">
                    <div class="counter-item mb-60 text-center">
                        <div class="counter-item__icon mb-25">
                            <i class="fi fi-rr-user"></i>
                        </div>
                        <div class="counter-item__content">
                            <h4 class="counter-item__title"><span class="counter">276</span>K</h4>
                            <p>{% trans 'Worldwide Students' %}</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="counter-item mb-60 text-center">
                        <div class="counter-item__icon mb-25">
                            <i class="fi fi-rr-document"></i>
                        </div>
                        <div class="counter-item__content">
                            <h4 class="counter-item__title"><span class="counter">23</span>+</h4>
                            <p>{% trans 'Years Experience' %}</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="counter-item mb-60 text-center">
                        <div class="counter-item__icon mb-25">
                            <i class="fi fi-rr-apps"></i>
                        </div>
                        <div class="counter-item__content">
                            <h4 class="counter-item__title"><span class="counter">735</span>+</h4>
                            <p>{% trans 'Professional Courses' %}</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="counter-item mb-60 text-center">
                        <div class="counter-item__icon mb-25">
                            <i class="fi fi-rr-star"></i>
                        </div>
                        <div class="counter-item__content">
                            <h4 class="counter-item__title"><span class="counter">4.7</span>K+</h4>
                            <p>{% trans 'Beautiful Review' %}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- counter-area-end -->

    <!-- instructor-area -->
    <section class="instructor-area pt-110 pb-110">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-8 col-md-7 col-12">
                    <div class="section-title mb-65">
                        <h2 class="tp-section-title mb-20">{% trans 'Instructor' %}</h2>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-4 col-md-5 col-6">
                    <div class="tp-instruc-arrow d-flex justify-content-md-end"></div>
                </div>
            </div>
            <div class="intruc-active mb-15 tp-slide-space">
                {% for instructor in instructors %}
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="tp-instruc-item">
                            <div class="tp-instructor text-center p-relative mb-40">
                                <div class="tp-instructor__thumb mb-25">
                                    <img src="{{ instructor.user.get_photo_url }}" alt="instructor-profile">
                                </div>
                                <div class="tp-instructor__content">
                                    <h4 class="tp-instructor__title tp-instructor__title-info p-relative mb-35 mt-5"><a
                                            href="{{ instructor.get_absolute_url }}">{{ instructor.full_name }}</a></h4>
                                    <div class="tp-instructor__stu-info">
                                        <ul class="d-flex align-items-center justify-content-center">
                                            <li class="d-flex align-items-center"><img
                                                    src="{% static 'assets/img/icon/c-meta-01.png' %}"
                                                    alt="meta-icon"> <i>35 {% trans 'Classes' %}</i>
                                            </li>
                                            <li class="d-flex align-items-center"><img
                                                    src="{% static 'assets/img/icon/c-meta-02.png' %}"
                                                    alt="meta-icon"> <i>291+ {% trans 'Students' %}</i>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="tp-instructor__social">
                                        <ul>
                                            <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                                            <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="instructor-btn text-center">
                        <a class="tp-btn"
                           href="{% url 'instructors:instructor_list' %}">{% trans 'All Instructor' %}</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- instructor-area-enfd -->

    <!-- testimonial-area -->
    <section class="testimonial-area bg-bottom pt-110 pb-90 "
             data-background="{% static 'assets/img/bg/shape-bg-1.png' %}">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-xl-6 col-lg-8 col-md-8 col-12">
                    <div class="section-title mb-65">
                        <h2 class="tp-section-title mb-20">{% trans 'Our Testimonials' %}</h2>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-4 col-md-4 col-6">
                    <div class="tp-section-arrow d-flex justify-content-md-end mb-40"></div>
                </div>
            </div>
            <div class="testimonial-active tp-slide-space">
                <div class="tp-test-slide-item">
                    <div class="tp-testi p-relative mt-65">
                        <div class="tp-testi__avatar">
                            <img src="{% static 'assets/img/icon/test-ava-01.png' %}" alt="testi-avatar">
                        </div>
                        <div class="tp-testi__rating pb-5">
                            <ul class="d-flex align-items-center justify-content-end mr-5 mb-25">
                                <li><i class="fi fi-ss-star"></i></li>
                                <li><i class="fi fi-ss-star"></i></li>
                                <li><i class="fi fi-ss-star"></i></li>
                                <li><i class="fi fi-ss-star"></i></li>
                                <li><i class="fi fi-rs-star"></i></li>
                            </ul>
                        </div>
                        <div class="tp-testi__avainfo">
                            <p>Dramatically supply transparent deliverab before & you backward comp internal or
                                "organic" sources.</p>
                            <h3 class="tp-testi__title">Courtney Henry</h3>
                            <i>Sr. UX/UI Designer</i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- testimonial-area-end -->

    <!-- blog-area -->
    <section class="blog-area pt-110 pb-110">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title mb-65 text-center">
                        <h2 class="tp-section-title mb-20">{% trans 'Latest Blogs & News' %}</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for blog in blogs %}
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <div class="tp-blog tp-blog-parent mb-40">
                            <div class="tp-blog__thumb">
                                <div class="fix blog-round">
                                    <a href="{{ blog.get_absolute_url }}"><img src="{{ blog.img.url }}"
                                                                               alt="{% static 'assets/img/blog/blog-thumb-3-01.jpg' %}"></a>
                                </div>
                            </div>
                            <div class="tp-blog__content blog-edu p-relative">
                                <div class="tp-blog__meta-list mb-10">
                                    <span><a href="{{ blog.get_absolute_url }}"><i
                                            class="fi fi-ss-calendar"></i>{{ blog.date_created|timesince }}</a></span>
                                </div>
                                <h3 class="tp-blog__title mb-15"><a
                                        href="{{ blog.get_absolute_url }}">{{ blog.title }}</a></h3>
                                <span><a href="{{ blog.get_absolute_url }}"><i
                                        class="fi fi-sr-user"></i>{{ blog.author }}</a></span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="blog-btn text-center">
                        <a href="{% url 'blogs:blog_list' %}" class="tp-btn">{% trans 'All Blog' %}</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- blog-area-end -->
{% endblock %}
